[defaults]
inventory = ansible/inventory/production/hosts.yml
host_key_checking = False
stdout_callback = default
collections_path = ansible/collections:~/.ansible/collections:/usr/share/ansible/collections
local_tmp = /tmp/motion-levels-ansible-local
remote_tmp = /tmp/motion-levels-ansible-remote

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=no -o ConnectTimeout=10 -o ServerAliveInterval=10 -o ServerAliveCountMax=3 -o TCPKeepAlive=yes
retries = 3
