[defaults]
inventory = ansible/inventory.yaml
host_key_checking = False
stdout_callback = default
collections_path = ansible/collections:~/.ansible/collections:/usr/share/ansible/collections

[ssh_connection]
pipelining = True
