# Managed by motion-levels-venue Ansible.
pcm.!default {
  type plug
  slave.pcm "motionlevels_hdmi"
}

pcm.motionlevels_hdmi {
  type dmix
  ipc_key 2048
  ipc_perm 0600
  slave {
    pcm {
      type hw
      card {{ motion_levels_display.alsa.card }}
      device {{ motion_levels_display.alsa.device }}
    }
    channels 2
    rate 48000
    format S16_LE
    period_size 1024
    buffer_size 8192
  }
  bindings {
    0 0
    1 1
  }
}

ctl.!default {
  type hw
  card {{ motion_levels_display.alsa.card }}
}
