# Managed by motion-levels-venue Ansible. Tokens are read from separate files.
ML_CAMERAS_HOST=127.0.0.1
ML_CAMERAS_PORT=8040
ML_CAMERAS_BACKEND={{ motion_levels_camera.backend }}
ML_CAMERAS_CAMERA_ID={{ motion_levels_camera.camera_id }}
ML_CAMERAS_CAMERA_NAME={{ motion_levels_camera.name }}
ML_CAMERAS_DATABASE_PATH={{ motion_levels_camera_state_root }}/state.db
ML_CAMERAS_ALLOWED_MEDIA_ROOT={{ motion_levels_state_root }}/camera-recordings
ML_CAMERAS_POLL_INTERVAL_SECONDS=5
ML_CAMERAS_STALE_AFTER_SECONDS=120
ML_CAMERAS_ACTIVE_TELEMETRY_INTERVAL_SECONDS=30
ML_CAMERAS_SAMPLE_RETENTION_DAYS=2
ML_CAMERAS_PLATFORM_URL={{ motion_levels_platform_url }}
ML_CAMERAS_PLATFORM_TOKEN_FILE={{ motion_levels_camera.platform_token_file }}
ML_CAMERAS_CONTROLLER_ID={{ motion_levels_venue.platform_room_id }}
ML_CAMERAS_CONTROLLER_LABEL={{ motion_levels_venue.display_name }}
ML_CAMERAS_API_TOKEN_FILE={{ motion_levels_camera.api_token_file }}
ML_CAMERAS_TWITCH_STREAM_KEY_FILE={{ motion_levels_camera.twitch.stream_key_file }}
ML_CAMERAS_TWITCH_INGEST_URL={{ motion_levels_camera.twitch.ingest_url }}
ML_CAMERAS_TWITCH_VIDEO_SIZE={{ motion_levels_camera.twitch.video_size }}
ML_CAMERAS_TWITCH_FRAMERATE={{ motion_levels_camera.twitch.framerate }}
ML_CAMERAS_TWITCH_VIDEO_BITRATE_KBPS={{ motion_levels_camera.twitch.video_bitrate_kbps }}
ML_CAMERAS_TWITCH_AUDIO_BITRATE_KBPS={{ motion_levels_camera.twitch.audio_bitrate_kbps }}
ML_CAMERAS_TRUST_TAILNET_RECORDING=true
ML_CAMERAS_USB_VENDOR_ID={{ motion_levels_camera.usb.vendor_id }}
ML_CAMERAS_USB_PRODUCT_ID={{ motion_levels_camera.usb.product_id }}
ML_CAMERAS_USB_SERIAL={{ motion_levels_camera.expected_serial }}
ML_CAMERAS_PREVIEW_BACKEND=gopro
ML_CAMERAS_PREVIEW_VIDEO_SIZE=1280x720
ML_CAMERAS_PREVIEW_FRAMERATE=15
ML_CAMERAS_PREVIEW_AUTO_START=true
ML_CAMERAS_HOST_RECORDING_ENABLED={{ 'true' if motion_levels_camera.recording.host_recording_enabled else 'false' }}
ML_CAMERAS_GOPRO_BASE_URL={{ motion_levels_camera.gopro.base_url }}
ML_CAMERAS_GOPRO_PUBLISH_ADDRESS={{ motion_levels_camera.usb.host_address | regex_replace('/.*$', '') }}
ML_CAMERAS_GOPRO_STREAM_URL={{ motion_levels_camera.gopro.stream_url }}
ML_CAMERAS_GOPRO_STREAM_PORT={{ motion_levels_camera.gopro.stream_port }}
ML_CAMERAS_GOPRO_ARCHIVE_SETTINGS={{ motion_levels_camera.gopro.archive_settings }}
ML_CAMERAS_GOPRO_TEST_SETTINGS={{ motion_levels_camera.gopro.test_settings }}
ML_CAMERAS_MEDIA_SPOOL_MAX_BYTES=1073741824
ML_CAMERAS_MEDIA_MIN_FREE_BYTES=16106127360
ML_CAMERAS_MEDIA_RETRY_SECONDS=15
ML_CAMERAS_MEDIA_DOWNLOAD_TIMEOUT_SECONDS=1800
